<div class="grid-item card text-white bg-dark mb-3" onmousedown="updateProductCount(this, event)">

    <div class="productContent" style="display: block">
        <p class="sku-number" hidden>{{product.sku_number}}</p>
        <div class="card-header top-row">
            <div>{{product.icon}}</div>
            <span class="badge badge-pill badge-primary" style="font-size: 20px;">0</span>
            <div class="card-subtitle">{{product.price}} kr</div>
        </div>
        <div class="card-body">
            <div class="productInfo">
                <h4 class="card-title">{{product.name}}</h4>
                <p class="card-text">{{product.description}}</p>
            </div>
            <div class="amountInputTool">
                <div class="numpad">
                    <div class="btn btn-outline-light numpad-btn" onmousedown="inputNumber(this, event)">+5</div>
                    <div class="btn btn-outline-light numpad-btn" onmousedown="inputNumber(this, event)">+10</div>
                </div>
                <div class="numpad-controls">
                    <button class="btn btn-warning numpad-btn" onclick="cancelInput(this)" style="min-width: 80px">Slett</button>
                    <button class="btn btn-primary numpad-btn" onclick="confirmInput(this)" style="min-width: 80px" disabled>OK</button>
                </div>
            </div>

        </div>
    </div>
</div>
